<div class="container">
  <h1><%= @restaurant.id %></h1>
  <h3><%=  @restaurant.name %></h3>
  <div class="details">
    <h5><%=  @restaurant.address %></h5>
    <p><%=  @restaurant.phone_number %></p>
    <p><%=  @restaurant.category %></p>
  </div>
  <div class="reviews">
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
    <% end %>
  </div>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
  <%= link_to 'Back to list', restaurants_path %>
</div>